* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #0f2854;
  --secondary: #1c4d8d;
  --accent: #4988c4;
  --light-bg: #bde8f5;
  --white-bg: #ffffff1a;
  --grid-unit: 8px;
  --text: #cbd5e1;
}

a {
  color: #ffffffcc;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: white;
}

p,
span,
button,
li {
  font-size: 1.6rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

header {
  background-color: var(--primary);
  color: white;
  padding: var(--grid-unit);
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 1px solid var(--white-bg);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.call-to-action {
  border: none;
  cursor: pointer;
  background-color: var(--accent);
  color: white;
  padding: calc(var(--grid-unit)) calc(var(--grid-unit) * 2);
  text-decoration: none;
}

.call-to-action:hover {
  background-color: var(--secondary);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 6px;
  background-color: var(--accent);
}

.logo > p {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: var(--grid-unit);
}

#home {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#home .intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

#home .w-half {
  width: 50%;
}

#home .intro .tag {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent);
  width: fit-content;
  padding: 8px 16px;
  border-radius: 9999px;
  letter-spacing: 2px;
  background-color: var(--white-bg);
  margin-bottom: calc(var(--grid-unit) * 2);
  text-transform: uppercase;
}

#home .intro h1 span {
  color: white;
  display: block;
  margin-bottom: 4px;
  font-size: 5rem;
  letter-spacing: -2px;
}
#home .intro h1 span:last-child {
  color: var(--accent);
}

#home .intro p {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #cbd5e1;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  padding: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 4);
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

button.solid {
  background-color: var(--accent);
  border: none;
}

button.outline {
  background-color: transparent;
  border: 2px solid #ffffff33;
}

button.action-view {
  background-color: white;
  color: var(--primary);
  border: none;
  border-radius: 999px;
}
button.action-view:hover {
  background-color: var(--light-bg);
}

button:hover {
  background-color: var(--secondary);
}

.wrap-home {
  height: 80vh;
  display: flex;
  gap: 3.2%;
  justify-content: center;
  align-items: center;
}

.w-half {
  width: 50%;
}

.w-half img {
  width: 100%;
  border-radius: 1.6rem;
}

#about {
  padding: calc(var(--grid-unit) * 8) 0;
  background-color: var(--light-bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#about .tag {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--primary);
  padding-bottom: 1.6rem;
}

#about .intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-unit) * 4);
}

#about .about-info {
  display: block;
  flex-direction: column;
  gap: calc(var(--grid-unit) * 4);
  align-items: center;
}
#about .about-info .title {
  font-size: 3.6rem;
  margin-bottom: calc(var(--grid-unit) * 2);
  color: #0f2854;
}
#about .about-info .desc {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333333;
}
#about .about-ability {
  display: flex;
  gap: calc(var(--grid-unit) * 4);
}

#about .about-avatar {
  width: 80%;
  overflow: hidden;
  border-radius: 1.6rem;
}

#about .about-avatar img {
  width: 100%;
  border-radius: 1.6rem;
  cursor: pointer;
}

#about .about-avatar img:hover {
  transform: scale(1.2);
  transition: transform 0.8s ease-in-out;
}

#about .about-info h3 {
  font-weight: 500;
  margin-bottom: calc(var(--grid-unit) * 2);
}

#about .ability-box {
  background-color: #1c4d8d;
  width: 30rem;
  height: 20rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--grid-unit) * 1);
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#about .ability-box .title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: calc(var(--grid-unit) * 1);
}
#about .ability-box .subtitle {
  font-size: 1.4rem;
  color: var(--text);
  line-height: 1.4;
}

/* SKILLS */

#skills {
  padding: calc(var(--grid-unit) * 8) 0;
  background-color: white;
  color: black;
  display: flex;
  width: 100%;
  align-items: center;
}
.skill-header {
  width: 100%;
}
#skills .skill-tag {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--primary);
  padding-bottom: calc(var(--grid-unit) * 2);
}
#skills .skill-title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: calc(var(--grid-unit) * 4);
  text-align: center;
  color: var(--primary);
}

#skills .skill-list {
  display: flex;
  padding: calc(var(--grid-unit) * 2);
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: calc(var(--grid-unit) * 4);
  margin-top: calc(var(--grid-unit) * 4);
}

#skills .skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid #f1f5f9;
  border-radius: 1.8rem;
  padding: 2rem;
  min-width: 14rem;
}

/* #skills .skill-item:hover {
  transition: transform 0.3s ease;
  margin-top: -30px;
} */

#skills .skill-item img {
  cursor: pointer;
  width: 48px;
  height: 48px;
  margin-bottom: 1.4rem;
}

#projects {
  padding: calc(var(--grid-unit) * 8);
  background-color: var(--light-bg);
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#projects .project-head-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  gap: calc(var(--grid-unit) * 2);
}
#projects .project-head-box {
  border-radius: 1.2rem;
}
#projects .section-title {
  font-size: 3.6rem;
  text-align: center;
}
#projects .project-tag {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--primary);
  padding-bottom: calc(var(--grid-unit) * 2);
}
#projects .view-project {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--grid-unit) * 3);
}

.project-link {
  color: #0f2854;
}
#projects .project-items {
  display: flex;
  margin: calc(var(--grid-unit) * 6) 0;
  gap: calc(var(--grid-unit) * 4);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#projects .project-item {
  flex: 1;
  border-radius: 1.2rem;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#projects .project-item h3 {
  font-size: 2.4rem;
  margin: calc(var(--grid-unit) * 2) 0;
  color: #0f2854;
}
#projects .project-item img {
  width: 100%;
  object-fit: scale-down;
  border-radius: 1.2rem;
}

#projects .project-item:hover img {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

#projects .project-item:hover .project-action {
  display: flex;
}

#projects .project-info {
  margin-top: calc(var(--grid-unit) * 2);
}

#projects .project-item .project-contain-img {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 1.2rem;
  position: relative;
}

#projects .project-item p {
  font-size: 1.6rem;
  color: #333333;
  margin-bottom: calc(var(--grid-unit) * 2);
  line-height: 1.4;
}

.wrap-project {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.51);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#projects .project-tags {
  display: flex;
  gap: 1.6rem;
  margin: var(--grid-unit) 0;
}

#projects .project-items .project-tag {
  background-color: #0f28541a;
  color: var(--primary);
  padding: 4px 12px;
  border-radius: 9999px;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: none;
}

#contact {
  padding: calc(var(--grid-unit) * 8);
  background-color: var(--primary);
  height: fit-content;
  color: white;
  display: flex;
  gap: calc(var(--grid-unit) * 40);
  justify-content: space-around;
}
#contact .contact-left {
  width: 50%;
}
#contact .contact-left .logo {
  margin-bottom: calc(var(--grid-unit) * 2);
}
#contact .contact-left .contact-description {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #cbd5e1;
  margin-bottom: calc(var(--grid-unit) * 2);
}
#contact .contact-right {
  width: 50%;
  text-align: right;
}
#contact .contact-tag {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--accent);
  padding-bottom: calc(var(--grid-unit) * 2);
  margin-bottom: calc(var(--grid-unit) * 2);
}
.contact-websites {
  gap: calc(var(--grid-unit) * 2);
  margin-bottom: calc(var(--grid-unit) * 4);
}
.contact-websites .logo-box {
  width: fit-content;
  font-size: 3rem;
  padding: 4px;
  background-color: var(--accent);
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: calc(var(--grid-unit) * 2);
}
#contact .contact-email {
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
  text-decoration: underline;
  margin-bottom: calc(var(--grid-unit) * 2);
}
#contact .contact-location {
  font-size: 1.4rem;
  color: #cbd5e1;
  margin-bottom: calc(var(--grid-unit) * 2);
}
#contact .available-time {
  font-size: 1.4rem;
  color: #cbd5e1;
}